@model IEnumerable<MaterialView>

 <h3>Material list</h3>
<table class="table">
    <tr><th>#</th><th>Type</th><th>Title</th><th></th><th></th></tr>
    @foreach (var item in Model)
        {
         <tr>
             <td>@item.Id</td>
            @if (item is BookView)
            {
                <td>Book</td>
            }
            else if (item is VideoView)
            {
                 <td>Video</td>
            }
            else if (item is ArticleView)
            {
                 <td>Article</td>
            }
            <td>@item.Name</td>
            @if (item is BookView)
            {
                <td>
                    <a asp-controller="EditingMaterials" asp-action="EditBook" asp-route-id="@item.Id">Change</a> |  <a asp-controller="EditingMaterials" asp-action="DetailsBook" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <form asp-controller="EditingMaterials" asp-action="DeleteBook" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            }
            else if (item is VideoView)
            {
                <td>
                    <a asp-controller="EditingMaterials" asp-action="EditVideo" asp-route-id="@item.Id">Change</a> |  <a asp-controller="EditingMaterials" asp-action="DetailsVideo" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <form asp-controller="EditingMaterials" asp-action="DeleteVideo" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            }
            else if (item is ArticleView)
            {
                <td>
                    <a asp-controller="EditingMaterials" asp-action="EditArticle" asp-route-id="@item.Id">Change</a> |  <a asp-controller="EditingMaterials" asp-action="DetailsArticle" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <form asp-controller="EditingMaterials" asp-action="DeleteArticle" asp-route-id="@item.Id">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            }
         </tr>
    }
</table>
<p><a asp-controller="EditingMaterials" asp-action="CreateBook">+ Add Book</a></p>
<p><a asp-controller="EditingMaterials" asp-action="CreateVideo">+ Add Video</a></p>
<p><a asp-controller="EditingMaterials" asp-action="CreateArticle">+ Add Article</a></p>