@model IEnumerable<CourseView>

 <h3>Course list</h3>

@foreach (var item in Model)
{
    <div>
        <p>#@item.Id Name: @item.Name</p>
        <p>@item.Description</p>
        <div>Materials:
        @foreach (var material in item.Materials)
        {
            <p>@material.Name</p>
        }
        </div>
        <div>Skills
        @foreach (var skill in item.Skills)
        {
            <p>@skill.Title</p>
        }
        </div>
        <a asp-controller="EditingCourses" asp-action="Edit" asp-route-id="@item.Id">Change</a>
    </div>
}
<p><a asp-controller="EditingCourses" asp-action="Create">+ Add Course</a></p>