@{
	var user = ViewBag.AuthorizedUser;
	List<UserSkillView> userSkills = user.UserSkills.FirstOrDefoult();
}

<p>User:</p>
<ul>
	<li>@user.Name</li>
	<li>@user.Password</li>
	Materials
	@foreach (var material in user.Materials)
	{
		<li>@material.Name</li>
	}
	Skills
	@foreach (var skill in user.Skills)
	{
		<li>@skill.Title with lvl:</li>
	}
	@foreach (var skill in user.UserSkills)
	{
		<p>@skill.Level</p>
	}
	Courses
	@foreach (var course in user.Courses)
	{
		<li>@course.Name</li>
	}
</ul>