@model CourseView
@{
    var item = Model;
    var materialsInCourse = ViewBag.CourseMaterial;
}

<div>
    <div>
        <p>#@item.Id Name: @item.Name</p>
        <p>@item.Description</p>
    </div>
    <div>
        Materials:
        @for (int i = 0; i < item.Materials.Count; ++i)
        {
            <p>@item.Materials[i].Name</p>
            @if (materialsInCourse[i] != null)
            {
                <p>Passed!</p>
            }
            else
            {
                <form asp-controller="PassCourse" asp-action="PassMaterial" asp-route-name="@item.Materials[i].Name" asp-route-id="@item.Id">
                    <input type="submit" value="Pass material" />
                </form>
            }
        }
    </div>
    <div>
        Skills
        @foreach (var skill in item.Skills)
        {
            <p>@skill.Title</p>
        }
    </div>
</div>